TASK - 1 :- Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [2]:
import pandas as pd
import numpy as np

In [6]:
np.random.seed(40)
data=np.random.rand(4, 4)
data[data < 0.3] = np.nan
df=pd.DataFrame(data, columns=['feature1', 'feature2', 'feature3', 'feature4'])
print(df)

   feature1  feature2  feature3  feature4
0  0.407687       NaN  0.788535       NaN
1  0.450351  0.303912  0.526400  0.623812
2  0.776775  0.686242  0.980939  0.600816
3  0.813969  0.708645       NaN  0.904267

TASK - 2 :- Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [8]:
new_column_names={'feature1': 'value 1','feature2': 'value 2','feature3': 'value 3','feature4': 'value 4'}
df.rename(columns=new_column_names,inplace=True)
print(df)

    value 1   value 2   value 3   value 4
0  0.407687       NaN  0.788535       NaN
1  0.450351  0.303912  0.526400  0.623812
2  0.776775  0.686242  0.980939  0.600816
3  0.813969  0.708645       NaN  0.904267

TASK - 3 :- Find the descriptive statistics of the 'df' dataframe.

In [9]:
desc_stat=df.describe()
print(desc_stat)

        value 1   value 2   value 3   value 4
count  4.000000  3.000000  3.000000  3.000000
mean   0.612195  0.566266  0.765291  0.709632
std    0.212772  0.227481  0.228159  0.168951
min    0.407687  0.303912  0.526400  0.600816
25%    0.439685  0.495077  0.657467  0.612314
50%    0.613563  0.686242  0.788535  0.623812
75%    0.786074  0.697443  0.884737  0.764040
max    0.813969  0.708645  0.980939  0.904267

TASK - 4 :- Check for the null values in 'df' and find the data type of the columns

In [10]:
null_values=df.isnull().any()
print(null_values)
data_types=df.dtypes
print(data_types)

value 1    False
value 2     True
value 3     True
value 4     True
dtype: bool
value 1    float64
value 2    float64
value 3    float64
value 4    float64
dtype: object

TASK - 5 :- Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [13]:
location=df.loc[:,['value 2','value 3']]
print(location)

index_location= df.iloc[:,[1, 2]]
print(index_location)

    value 2   value 3
0       NaN  0.788535
1  0.303912  0.526400
2  0.686242  0.980939
3  0.708645       NaN
    value 2   value 3
0       NaN  0.788535
1  0.303912  0.526400
2  0.686242  0.980939
3  0.708645       NaN